.bookcard{
    vertical-align: top;
    margin: 0 0.5rem;
    height: 450px;
    label {
        white-space: normal;
        width: 180px;
        // height: 72px;
        margin-top: 0.5rem;
        cursor: auto;
        word-break: break-word;
    }
    button{
        position: absolute;
        bottom: 0.5rem;
        padding: 0.35rem 0.5rem;
    }
}